streamlit
pandas
pdfplumber
spacy
scikit-learn
matplotlib
seaborn
pytesseract
opencv-python-headless
pdf2image
pillow
requests
beautifulsoup4
https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.7.0/pt_core_news_sm-3.7.0-py3-none-any.whl
selenium