name: Despertador do Portfólio

# Gatilho: Quando rodar?
on:
  schedule:
    # Sintaxe Cron: "Minuto Hora Dia Mês DiaSemana"
    # */30 significa "a cada 30 minutos"
    - cron: "*/30 * * * *"
  
  # Permite rodar manualmente se você clicar num botão (bom para testes)
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Baixar o código do repositório
        uses: actions/checkout@v3

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar bibliotecas
        run: |
          pip install -r requirements.txt

      - name: Rodar o Robô Despertador
        run: python automation/wake_up.py